{% extends 'core/base.html' %}

{% block title %}Услуги — Ки Партнер ИТ{% endblock %}

{% block content %}

<section class="section container">

    <h1>Услуги</h1>

    {% for cat in categories %}
    <h2>{{ cat.name }}</h2>

    <div class="services-grid">

        {% for article in cat.articles.all %}
        <div class="service-card">

            {% if article.image %}
            <img class="service-img" src="{{ article.image.url }}" alt="{{ article.title }}">
            {% endif %}

            <h3 class="service-title">
                <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
            </h3>

            <p class="service-description">
                {{ article.content|truncatechars:200 }}
            </p>

        </div>
        {% empty %}
        <p>Нет услуг в этой категории.</p>
        {% endfor %}

    </div>
    {% endfor %}

</section>

{% endblock %}
