body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 1.8;
    background: #000000 !important;
    color: #ffff00 !important;
}

a {
    color: #00ffff !important;
    text-decoration: underline;
}
